@model ProyectoDSWToolify.Models.Producto

@{
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
	ViewData["Title"] = "Detalle del Producto";
}

<div class="container-fluid px-4">
	<h1 class="mt-4 mb-3 fw-bold">Detalle del Producto</h1>

	<div class="card">
		<div class="card-body">
			<div class="row mb-3">
				<div class="col-md-6">
					<strong>ID:</strong>
					<p>@Model.idProducto</p>
				</div>
				<div class="col-md-6">
					<strong>Nombre:</strong>
					<p>@Model.nombre</p>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-md-6">
					<strong>Descripción:</strong>
					<p>@Model.descripcion</p>
				</div>
				<div class="col-md-6">
					<strong>Proveedor:</strong>
					<p>@Model.proveedor?.razonSocial</p>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-md-6">
					<strong>Categoría:</strong>
					<p>@Model.categoria?.descripcion</p>
				</div>
				<div class="col-md-6">
					<strong>Precio:</strong>
					<p>S/. @Model.precio.ToString("F2")</p>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-md-6">
					<strong>Stock:</strong>
					<p>@Model.stock</p>
				</div>
				<div class="col-md-6">
					<strong>Fecha de Registro:</strong>
					<p>@Model.fechaRegistro.ToString("dd/MM/yyyy")</p>
				</div>
			</div>

			<div class="row mb-4">
				<div class="col-md-6">
					<strong>Estado:</strong>
					<p>
						@if (Model.estado)
						{
							<span class="badge fs-6 text-black">
								<i class="bi bi-check-circle-fill"></i> Activo
							</span>
						}
						else
						{
							<span class="badge fs-6 text-black">
								<i class="bi bi-x-circle-fill"></i> Eliminado
							</span>
						}
					</p>
				</div>
				<div class="col-md-6">
					<strong>Imagen:</strong><br />
					<img src="@(string.IsNullOrEmpty(Model.imagen)
                                    ? Url.Content("~/uploads/ErrorImagen.png")
                                    : Url.Content(Model.imagen))"
						 class="img-thumbnail mt-2"
						 style="    max-width: 100%;
    height: 250px;" />
				</div>
			</div>

			<div class="d-flex justify-content-between">
				<a asp-action="Edit" asp-route-id="@Model.idProducto" class="btn btn-warning">
					<i class="bi bi-pencil-square"></i> Editar
				</a>
				<a asp-action="Index" class="btn btn-secondary">
					<i class="bi bi-arrow-left-circle"></i> Volver a la Lista
				</a>
			</div>
		</div>
	</div>
</div>
